[user]
    name = Benjamin Mellor
    email = ben@smokingkangaroo.com
[core]
    excludesfile = /home/cumber/.gitglobalignore
    autocrlf = input
    safecrlf = warn
[diff]
    renames = copies
    mnemonicprefix = true
    algorithm = patience
[color]
    ui = auto
[merge]
    tool = meld
[push]
    default = upstream
[alias]
    tree = log --graph --decorate --online -n 40
