# Ignore everything until explicitly added, as most stuff shouldn't be
# versioned and would clog up listings from "git status" et al.
/*

# NOTE: explicitly adding a file will cause changes to that file to be tracked,
# but to track changes to a *directory* (and thus start versioning any new files
# that show up) requires an negated pattern in this file.
# e.g:
#   !/somedir

# ~/bin mostly contains scripts and stuff I would like to start versioning
# by default
!/bin

# Vim config should be versioned
!/.vim
/.vim/.netrwhist

# Unignore .config and then ignore everything in it, so I can selectively
# version some config folders
!/.config/
/.config/*

# Termite config
!/.config/termite/

# Powerline config
!/.config/powerline

# Nix config should definitely be versioned!
!/.config/nixpkgs

# Unignore .emacs.d, and ignore autosaves and transient
!/.emacs.d/
/.emacs.d/auto-save-list/
/.emacs.d/transient/
/.emacs.d/.lsp-session-v1

# Taffybar config
!/.config/taffybar

# Albert config, ignore transient stuff
!/.config/albert
/.config/albert/core.db
/.config/albert/last_used_version
/.config/albert/org.albert.extension.snippets/snippets.db
