AddKeysToAgent yes
IdentitiesOnly yes
ServerAliveInterval 60

Host smokingkangaroo smokingkangaroo.com
     Hostname    smokingkangaroo.com
     Port        7822
     User        skanga

Host github.com
     User git
     IdentityFile ~/.ssh/id_ssh

Host cellfield-github
     User git
     HostName github.com
     IdentityFile ~/.ssh/id_cellfield

Host cellfield.com
     User cellfield22
     IdentityFile ~/.ssh/id_cellfield

     # TODO: Remove these when I can; re-enabling obsolete key
     # algorithms that SSH has now disabled by default, but
     # cellfield.com still requires them
     HostKeyAlgorithms ssh-rsa
     PubkeyAcceptedKeyTypes ssh-rsa

Host xyanalytics.co.nz
     User debian
     IdentityFile ~/.ssh/id_pmil
     ForwardAgent yes

     # TODO: Remove these when I can; re-enabling obsolete key
     # algorithms that SSH has now disabled by default, but
     # xyanalytics.co.nz still requires them
     HostKeyAlgorithms ssh-rsa
     PubkeyAcceptedKeyTypes ssh-rsa

Host docker.xyanalytics.co.nz
     User ubuntu
     IdentityFile ~/.ssh/id_pmil
     ForwardAgent yes

Host grantshub-github
     User git
     HostName github.com
     IdentityFile ~/.ssh/id_grantshub

Host tgh-staging
     User deploy
     HostName 54.71.170.238
     IdentityFile ~/.ssh/id_grantshub

Host tgh-production
     User deploy
     HostName 54.244.31.57
     IdentityFile ~/.ssh/id_grantshub
